@font-face {
  font-family: 'iconfont';  /* Project id 4514721 */
  src: url('https//at.alicdn.com/t/c/font_4514721_cvr3z4lc04l.woff2?t=1722241706974') format('woff2'),
       url('https//at.alicdn.com/t/c/font_4514721_cvr3z4lc04l.woff?t=1722241706974') format('woff'),
       url('https//at.alicdn.com/t/c/font_4514721_cvr3z4lc04l.ttf?t=1722241706974') format('truetype'),
       url('https//at.alicdn.com/t/c/font_4514721_cvr3z4lc04l.svg?t=1722241706974#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanzhengma:before {
  content: "\e660";
}

.icon-shoujihao:before {
  content: "\e60f";
}

.icon-gouwu:before {
  content: "\e899";
}

.icon-fukuan:before {
  content: "\e62d";
}

.icon-suo:before {
  content: "\e63e";
}

.icon-tuxingyanzhengma:before {
  content: "\e799";
}

.icon-fenxiang-post:before {
  content: "\e7c5";
}

.icon-download-post:before {
  content: "\e63f";
}

.icon-gift:before {
  content: "\e682";
}

.icon-copy:before {
  content: "\e61c";
}
